<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LAB 3: GODDAMNED AIOHTTP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
</head>
<body>

    <div id="generate">
        <input type="number" value="128">
        <button>Generate Keys</button>
        <div class="deepseek-credit"></div>
    </div>

    <div id="upload_keys">
        <label for="rsa_private_key">RSA Private Key</label>
        <input type="file" name="rsa_private_key" required>
        <label for="cast5_encrypted_key">CAST5 Encrypted Key</label>
        <input type="file" name="cast5_encrypted_key" required>
        <button>Upload Keys</button>
    </div>

    <div id="download_keys" hidden>
        {% for key in ALLOWED_DOWNLOAD_KEYS %}
            <button id="{{ key }}">Download {{key}}.pem</button><br>
        {% endfor %}
    </div>

    <div id="encrypt">
        <input type="file" name="file" required>  
        <button>Encrypt</button>
    </div>

    <div id="decrypt">
        <input type="file" name="file" required>  
        <button>Decrypt</button>
    </div>

    <div id="error" hidden>
    </div>

    <script src='/static/main.js'></script>
</body>
</html>